
<script>
    // ajax를 이용하여 좋아요 로직 수정.

    // 1. 모든 좋아요 버튼을 가져온다.
    //const likeButtons = document.querySelectorAll('.like-button')
    const cellColors = document.querySelectorAll('.day-elem')

    // 2. 모든 좋아요 버튼에 이벤트 리스너를 달아준다.
    //likeButtons.forEach(button => {
    cellColors.forEach(td => {
        //button.addEventListener('click', function(event){
        td.addEventListener('mouseover', function(event){
            console.log(event)
            //const boardId = event.target.dataset.id
            const cellId = event.target.dataset.id
            
            // axios의 POST 동작을 위해 CSRF 토큰을 쿠키에 추가
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'
            // is_ajax() 확인을 위해 header에 XHR 부분 추가
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
            
            // post 동작
            //axios.post(`/boards/like/${boardId}/`)
            //.then(response =>{
            axios.get(`/calendar/`)
            .then(response =>{
                // 어떤 데이터가 전달되는지 확인 필수!
                // console.log(response.data)
                // liked 라고 전달된 데이터를 받아서 판단
                if (response.data.happy){
                    // 하트 아이콘 제어
                    //event.target.style.color = 'crimson'
                    event.target.bgcolor = 'pink'
                    //event.target.classList.replace('far', 'fas')
                }else if(response.data.sad){
                    //event.target.style.color = 'black'
                    event.target.bgcolor = 'skyblue'
                    //event.target.classList.replace('fas', 'far')
                }
                
                // 좋아요 사람 누른수를 추가 하기 위한 로직
                //const span = document.querySelector(`.like_count_${boardId}`)
                //span.innerText = response.data.count
            })
        })
    })
</script>





<script>

    const cellColors = document.querySelectorAll('.day-elem')

    cellColors.forEach(td => {

        td.addEventListener('mouseover', function(event){
            //console.log(event)
            //깃허브브런치연습
            const cellId = event.target.dataset.id
            //console.log(cellId)

                if (cellId==="happy"){

                    event.target.bgColor = 'pink'

                }else if(cellId==="sad"){

                    event.target.bgColor = 'skyblue'

                }

        })
    })
</script>