{% extends 'cal/base.html' %}

{% block title %}
Mood Catcher!
{% endblock %}

{% block content %}
<div class="clearfix">	
	<div class="center">
	<i class="far fa-heart fa-1x" style="color: lightblue">💙<br>슬픔<br>sad</i>	
	&nbsp&nbsp&nbsp&nbsp
	<i class="fas fa-heart fa-1x" style="color: gold;">💛<br>기쁨<br>joy</i>
	&nbsp&nbsp&nbsp&nbsp
	<i class="far fa-heart fa-1x" style="color: crimson">💔<br>분노<br>angry</i>
	&nbsp&nbsp&nbsp&nbsp
	<i class="fas fa-heart fa-1x" style="color: pink">💖<br>행복<br>happy</i>
	&nbsp&nbsp&nbsp&nbsp
	<i class="far fa-heart fa-1x" style="color: grey">🖤<br>혐오<br>hateful</i>
		&nbsp&nbsp&nbsp&nbsp
	<i class="far fa-heart fa-1x" style="color: black">🤍<br>보통<br>soso</i>
	</div>
</div>
<div class="clearfix" style="width: 70%; margin: auto;">	
	<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Diary </a>
	<form name="frmEX" action="{% url 'cal:calendar' %}" method = 'GET'>
        <input class="btn btn-info left" style="border-radius: 0;" type='month' name='month' id="month" size="7" maxlength="7"/ value="{{ cur_month|date:'Y-m' }}">
		<input class="btn btn-info" type="submit" value="GO!" style="background-color: #17a2b8;">
    </form>
</div>
	<a class="lefta" href="{% url 'cal:calendar' %}?{{ prev_month }}">
	<i class="fas fa-chevron-left fa-9x" href="{% url 'cal:calendar' %}?{{ prev_month }}"></i></a>
	<a class="righta" href="{% url 'cal:calendar' %}?{{ next_month }}">
	<i class="fas fa-chevron-right fa-9x" href="{% url 'cal:calendar' %}?{{ next_month }}"></i></a>
	
{{ calendar }}
{% endblock %}
